<!-- <mat-button-toggle-group [(value)]="currentLanguage" (change)="onLanguagesChange($event.value)">
    @for (item of languagesList; track item.id) {
        <mat-button-toggle [value]="item.id">{{item.short}}</mat-button-toggle>
    }
</mat-button-toggle-group> -->

<div class="language-switch">
    @for (item of languagesList; track item.id) {
        <div
            class="switch-option"
            [class.selected]="item.id === currentLanguage"
            (click)="onLanguagesChange(item.id)"
        >
            {{ item.short }}
        </div>
    }
    <div
        class="switch-btn"
        [style.left]="sliderLeft"
    ></div>
</div>
