<div class="shop-layout">
    <div class="shopping-cart">
        <div class="cart" (click)="showDetails()">
            <img class="shop" src="/assets/image/shop.png" alt="" />
            <span>{{ 'menu.count' | translate }}: {{ cartTotalCount() }}</span>
        </div>
        <div class="price">
            <div class="text">{{ cartTotalPrice() | priceI18n }}</div>
        </div>
        <div class="continue" (click)="continue()">
            {{ 'page.continueText' | translate }}
        </div>
    </div>
</div>

<mat-nav-list>
    @for (item of cartList(); track item.cartId) {
        <mat-list-item>
            <div>{{ item.cartId }}</div>
            <div>
                <span (click)="itemSubtraction(item.cartId)">-</span>
                <span>{{ item.quantity }}</span>
                <span (click)="itemAdd(item.cartId)">+<</span>
            </div>
        </mat-list-item>
    }
</mat-nav-list>
