<div class="shop-layout">
    <div class="shopping-cart">
        <div class="cart" (click)="showDetails()">
            <img class="shop" ngSrc="/assets/image/shop.png" alt="" height="133" width="96" />
            <span class="count">{{ cartTotalCount() }}</span>
        </div>
        <div class="price">
            <div class="text">{{ cartTotalPrice() | priceI18n }}</div>
        </div>
        <div class="continue" (click)="continue()">
            {{ 'page.continueText' | translate }}
        </div>
    </div>
</div>


