<!-- 规格 -->
@if (item()?.specList) {
    <div class="spec">
        <div class="title">{{ 'menu.detail.spec.title' | translate }}</div>
        <mat-radio-group [value]="selectedSpec()" (change)="onSpecChange($event.value)">
            @for (spec of item()?.specList; track spec.skuId) {
                <div class="spec-item">
                    <span class="spec-item-name">{{ spec | i18nField: 'skuName' }}</span>
                    <div>
                        <span class="spec-item-price">{{ spec.price | priceI18n }}</span>
                        <mat-radio-button [value]="spec.skuId"></mat-radio-button>
                    </div>
                </div>
            }
        </mat-radio-group>
    </div>
}
<!-- 加料 -->
@if (item()?.grillList) {
    <div class="grill">
        <div class="title">{{ 'menu.detail.grill.title' | translate }}</div>
        @for (grill of item()?.grillList; track grill.grillCode) {
            <div class="grill-item">
                <div class="grill-item-title">{{ grill | i18nField: 'grillName' }}</div>
                <mat-radio-group
                    [value]="getSelectedSku(grill.grillCode)"
                    (change)="onGrillChange(grill.grillCode, $event.value)"
                >
                    @for (grillItem of grill.itemList; track grillItem.productId) {
                        <div class="grill-sku">
                            <span class="grill-sku-name">{{
                                grillItem | i18nField: 'productName'
                            }}</span>
                            <div>
                                <span class="grill-sku-price">{{ grillItem.price | priceI18n }}</span>
                                <mat-radio-button [value]="grillItem.productId"></mat-radio-button>
                            </div>
                        </div>
                    }
                </mat-radio-group>
            </div>
        }
    </div>
}
