<div class="login-container">
    <div class="top-bg">
        <img src="/assets/image/logo.png" alt="yaki Logo" class="logo" />
    </div>

    <form [formGroup]="loginForm" *ngIf="currentState === deviceState.BIND_DEVICE" (ngSubmit)="onSubmitHandler()" class="login-form">
        <span class="title"> {{ 'page.storeCode' | translate }}</span>
        <mat-form-field class="field">
            <!-- <mat-label>Store code</mat-label> -->
            <input matInput formControlName="storeCode" placeholder="Type Store code" />
            <mat-hint></mat-hint>
            <mat-error *ngIf="loginForm.get('storeCode')?.hasError('required')">
                {{ 'page.storeCodeRequired' | translate }}
            </mat-error>
            <mat-error *ngIf="loginForm.get('storeCode')?.hasError('minlength')">
                Store code must be at least 5 characters
            </mat-error>
        </mat-form-field>

        <!-- Auth Code -->
        <span class="title">{{ 'page.authCode' | translate }}</span>

        <mat-form-field>
            <!-- <mat-label>Auth code</mat-label> -->
            <input
                matInput
                formControlName="authCode"
                placeholder="Type Auth code"
                type="password"
            />
            <!-- <mat-icon matSuffix>vpn_key</mat-icon> -->
            <mat-hint></mat-hint>
            <mat-error *ngIf="loginForm.get('authCode')?.hasError('required')">
                {{ 'page.authCodeRequired' | translate }}
            </mat-error>
            <mat-error *ngIf="loginForm.get('authCode')?.hasError('minlength')">
                Auth code must be at least 5 characters
            </mat-error>
        </mat-form-field>

        <!-- 环境选择 -->
        <!-- <div class="environment-selection">
      <mat-radio-group formControlName="environment">
        <mat-radio-button value="production">Production Environment</mat-radio-button>
        <mat-radio-button value="test">Test Environment</mat-radio-button>
      </mat-radio-group>
    </div> -->
    </form>

    <form [formGroup]="loginForm" *ngIf="currentState === deviceState.LOGIN" (ngSubmit)="onSubmitHandler()" class="login-form">
        <span class="title"> {{ 'page.password' | translate }}</span>
        <mat-form-field class="field">
            <input matInput formControlName="password" placeholder="password" />
            <mat-hint></mat-hint>
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                {{ 'page.passwordRequired' | translate }}
            </mat-error>
        </mat-form-field>
    </form>


    <div class="admin" *ngIf="currentState === deviceState.RESET">
        <button class="button submit-btn">
            {{ 'page.resetConfig' | translate }}
        </button>
        <button class="button submit-btn">
            {{ 'page.resetSystem' | translate }}
        </button>
        <button class="button submit-btn">
            {{ 'page.loginOut' | translate }}
        </button>
    </div>

    <button *ngIf="currentState !== deviceState.RESET" class="button submit-btn" type="submit" [disabled]="!loginForm.valid" (click)="onSubmitHandler()"  >
        {{ 'app.common.confirm' | translate }}
    </button>

    <!-- 版本和设备编码 -->
    <div class="version-info">版本号：1234567890，设备编码：1</div>
</div>
