<div class="add-tips">
    <div class="top">
        <h3>{{ 'page.addtip' | translate }}</h3>
        <span (click)="cancel()">{{ 'app.common.cancel' | translate }}</span>
    </div>

    <div class="type">
        @for (item of tipTypeList; track item.value) {
            <span [class.active]="item.value === tipType()" (click)="changeType(item.value)">{{
                item.name | translate
            }}</span>
        }
    </div>

    <div class="fee">
        <!-- 快速选择 -->
        <div class="percentage_list">
            @for (val of currentMode().quickSelect; track val) {
                <span
                    class="percentage_item"
                    [class.active]="val === inputValue()"
                    (click)="onQuickSelect(val)"
                >
                    {{ val }}{{ currentMode().suffix }}
                </span>
            }
        </div>

        <p>{{ 'submit.tip' | translate }}</p>

        <!-- 唯一的 input -->
        <mat-form-field class="example-full-width">
            <input type="tel" matInput [(ngModel)]="inputValue" />
            <span matSuffix>{{ currentMode().suffix }} &nbsp;</span>
        </mat-form-field>
    </div>

    <div class="bottom">
        <p class="total">{{ 'submit.totalTip' | translate }} ${{ totalTip() }}</p>

        <div class="confirm" (click)="tipConfirm()">
            {{ 'app.common.confirm' | translate }}
        </div>
    </div>
</div>
