<div class="details">
    <div class="image">
        <img [src]="item()?.imageUrl" alt="" />
    </div>

    <div class="info">
        <div class="info-top">
            <div class="name">{{ item() | i18nField: 'productName' }}</div>
            <div class="desc">{{ item()?.descriptionCn }}</div>
        </div>

        <!-- 单品 -->
        @if (item()?.productType === ProductType.PRODUCT) {
            <app-single-item #singleItemRef [data]="item()"></app-single-item>
        }
        <!-- 套餐 -->
        @if (item()?.productType === ProductType.COMBO) {
            <app-combo-item #comboItemRef [data]="item()"></app-combo-item>
        }
    </div>

    <div class="add_price">
        <span class="price">{{ totalPrice() }}</span>
    </div>
    <div class="add_button">
        <img src="/assets/image/cart.png" alt="" />
        <span (click)="addToCart()">{{ 'menu.detail.addCart' | translate }}</span>
    </div>
</div>
