<div class="orderConfirm">
    <div class="top_bg">
        <img class="bg" src="/assets/image/orderBG.png" alt="" />
        <img class="success" src="/assets/image/success.png" alt="" />
        <div class="text_div">
            <div class="text">{{ 'submit.success_text1' | translate }}</div>
            <div class="text2">{{ 'submit.success_text2' | translate }}</div>
        </div>
    </div>

    <div class="order_info">
        <div class="line">
            <div class="line_name">Order Number</div>
            <div class="line_value">123123123</div>
        </div>
        <div class="line">
            <div class="line_name">Retrieval Code</div>
            <div class="line_value">66</div>
        </div>
        <div class="line">
            <div class="line_name">Order Amount</div>
            <div class="line_value">123</div>
        </div>
    </div>

    <div class="order_cart">
         <div class="menu_top">
            <div class="menu_top_left">
                {{ 'app.order.total' | translate: { num: cartTotalCount() } }}
            </div>

        </div>

        <div class="menu_list">
            @for (item of cartList(); track item.cartId) {
               <div class="menu-item">
                    <div class="left">
                        <div class="dishName">{{ item.productName }}</div>
                         @if (item.productType === ProductType.PRODUCT) {
                                <div class="spec">
                                    {{ item.spec?.skuNameCn }} /
                                    @for (
                                        grillList of item.grill || [];
                                        track grillList.grillCode
                                    ) {
                                        @for (
                                            grillItem of grillList.itemList || [];
                                            track grillItem.productId
                                        ) {
                                            {{ grillItem | i18nField: 'productName' }}
                                        }
                                    }
                                </div>
                            }
                        <div class="num">x {{ item.quantity }}</div>
                    </div>

                    <div class="right">
                        <div class="price">{{ item.subtotal | priceI18n }}</div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="back_to_home" (click)="goHome()">
        {{ 'submit.backToHome' | translate }}
    </div>
</div>
