.home-container {
    width: 100vw;
    height: 100vh;
    background-color: var(--app-primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.language-selector {
    position: absolute;
    right: 10px;
    top: 10px;

}

.logo {
    width: 210px;
    height: 80px;
    margin-top: 40px;
    // position: absolute;
    // top: 15%;
    // left: 50%;
    // transform: translateX(-50%);
    img {
        width: 100%;
        height: 100%;
    }
}

.tip {
    width: 100%;
    color: #fff;
    font-size: 22px;
    // position: absolute;
    // top: 32%;
    // left: 50%;
    // transform: translateX(-50%);
    text-align: center;

}
.take-list {
    width: 380px;
    font-size: 28px;
    // position: absolute;
    // top: 44%;
    // left: 50%;
    // transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    // background: #fff;
    height: 160px;

    .take-item {
        width: 160px;
        height: 100%;
        background-color: #fff;
        text-align: center;
        border-radius: 18px;
        line-height: 140px;
        // display: flex;
        // flex-direction: column;
        position: relative;
        border: 2px solid #f7b919;

        .take-icon {
            width: 100%;
            height: 100%;
        }

        .take_type {
            width: 100%;
            position: absolute;
            bottom: 8px;
            left: 50%;
            transform: translateX(-50%);
            color: #fff;
            display: inline-block;
            vertical-align: bottom;
            line-height: normal;
        }

        .active {
            width: 50px;
            height: 50px;
            position: absolute;
            right: -14px;
            top: -24px;
        }
    }
}

.start-btn {
    width: 360px;
    height: 70px;
    line-height: 70px;
    color: var(--app-primary-color);
    border-radius: 50px;
    font-size: 22px;
    // position: absolute;
    // top: 70%;
    // left: 50%;
    // transform: translateX(-50%);
    text-align: center;
    background-color: #fff;
}

.model-list {
    width: 220px;
    height: 110px;
    // position: absolute;
    // top: 85%;
    // left: 50%;
    // transform: translateX(-50%);
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 3px;
    box-sizing: border-box;
    .model-item {
        width: 110px;
        height: 102px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
        color: #fff;
        border-radius: 10px;

        &.selected {
            background-color: var(--app-primary-color);
        }
    }
}
